h2{
  text-align: center;

}
.box1{
background-color: lightblue;
color: white;
font-style: oblique;
border: 2px solid hotpink;
}
.navi{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

}

 .idk{
  display: inline;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  align-items: center;
}
h4{
  padding-right: 20px;
}
